/* Basic page styling */
body {
    font-family: sans-serif;
    overflow-x: hidden;
    font-family: Sans-Serif;
    margin: 0;
    background-color: darkslategrey;
}

/* Nav bar */
.menu-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    background: rgba(12, 12, 12, 0.7);
    color: #35e6e6;
    padding: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.menu-logo {
    line-height: 0;
    margin: 0 20px;
}

.menu-logo img {
    max-height: 100px; 
    max-width: 200px; 
    flex-shrink: 0;
}

.menu-container a {
    text-decoration: none;
    color: #35e6e6;
    transition: color 0.3s ease;
}

.menu-container a:hover {
    color: #d31773;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    color: #35e6e6;
    font-size: 24px;
    padding: 10px;
    z-index: 2;
    border-bottom-left-radius: 30px;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    padding: 10px 20px;
    font-size: 22px;
}

  /* Mobile Nav bar */
@media only screen and (max-width: 767px) {
    .menu-toggle {
        display: block;
    }

    .menu {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background: #000;
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
    }

    /* When the menu has the 'active' class, show it */
    .menu.active {
    display: flex;
    background-color: #1c7777;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: 1s;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu li a {
        color: #ffffff;
    }
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.search-container {
    max-width: 600px;
    margin: 0 auto 20px auto;
    border-radius: 25px;
    text-align: center;
    background-color: #2c2c2c;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 15px;
}

input[type="text"] {
    width: 90%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    background-color: #4c4c4c;
    color: #ffffff;
    transition: background-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus {
    background-color: #5a5a5a;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.7);
    outline: none;
}

input[type="text"]::placeholder {
    color: #cccccc;
    opacity: 0.8;
    font-style: italic;
}

/* Device grid container */
.device-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    justify-items: center;
}

.device {
    background: #448375;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    width: 100%;
    max-width: 220px;
}

.device:hover {
    transform: scale(1.05);
}

.device img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    border-radius: 15px;
}

.device-name {
    margin: 10px 0;
    font-weight: bold;
    color: #fff;
}

.device a {
    text-decoration: none;
    color: #ffffff;
    background-color: #14e630;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}
.maintainer a{
    text-decoration: none;
    color: #ffffff;
    background-color: #252725;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}
/* Mobile layout */
@media screen and (max-width: 600px) {
    .device-grid {
        grid-template-columns: 1fr;
    }
}

